extends layout

block content
	div.container#main-wrapper
		div.row
			h1= title
			h2 You are about to delete this task. 
			form(class="form-inline" action="/delete/"+task.id+"" method="post")
				div.form-group
					label.sr-only Delete Task?
					div.input-group
						input(type="text" class="form-control" placeholder="New Task" name="deleteTaskString" value=""+task.task_name+"")
					div.input-group
						input(type="text" class="form-control" placeholder="Task Date Deadline" name="deleteTaskDate" value=""+task.task_date+"")
				button(type="submit" class="btn btn-primary") Delete Task
			a(href="/")
				button(type="button" class="btn btn-primary") Cancel






